apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Name }}
  labels:
    name: {{ .Release.Name }}-{{ .Chart.Name }}
  name: mongodb
spec:
  ports:
    - name: mongodb
      port: 27017
      targetPort: 27017
  selector:
    app: {{ .Release.Name }}-{{ .Chart.Name }}
